.m-1 {
    margin: 0.25rem;
}

#win-status {
    color: red;
}

#board {
    table-layout: fixed;
    width: 100%;
    max-width: 600px;
}

#board > tbody > tr::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.wall {
    background: black;
}

.floor {
    background: lightgrey;
}

.goal {
    background-image: url("../assets/goal.svg");
    background-size: 100%;
}

.player {
    background-image: url("../assets/player.svg");
    background-size: 100%;
}

.box {
    background-image: url("../assets/box.svg");
    background-size: 100%;
}

.box.goal {
    background-image: url("../assets/box-goal.svg");
    background-size: 100%;
}

.player.goal {
    background-image: url("../assets/player-goal.svg");
    background-size: 100%;
}

#controller {
    table-layout: fixed;
    width: 100%;
    max-width: 600px;
}

#controller > tbody > tr::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.controller-button {
    font-size: 10vw;
    text-align: center;
    background: lightskyblue;
}

@media only screen and (min-width: 768px) {
    #controller {
        display: none;
    }
}
